# WEB SCRAPING – ASSIGNMENT 2

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vishal\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\vishal\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\vishal\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vishal\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vishal\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [432]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [108]:
driver.get("https://www.naukri.com/")

In [109]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Analyst')

In [110]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [111]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [112]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [113]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title) 
    
location_tags=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)  
    
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [114]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [116]:
import pandas as pd 
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience':experience_required})
df

,Title,Location,Company_Name,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,Bangalore/Bengaluru,EY,5-10 Yrs
2,Data Analyst - Pharma/hls Domain (4-9 Years),Bangalore/Bengaluru,Fractal Analytics,10-20 Yrs
3,Data Analyst,Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
8,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [267]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [268]:
driver.get("https://www.naukri.com/")

In [269]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')

In [270]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [271]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [272]:
job_title=[]
job_location=[]
company_name=[]

In [273]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)

In [274]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [275]:
import pandas as pd 
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name})
df

,Title,Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
5,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [164]:
driver=webdriver.Chrome(r"chormedriver.exe")

In [165]:
driver.get("https://www.naukri.com/")

In [166]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')

In [167]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [169]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
location.click()

In [170]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[1]')
salary.click()

In [179]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [181]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags:
    name=i.text
    company_name.append(name)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [182]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [183]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies,4-8 Yrs
1,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
2,Data Scientist / Sr. Data Scientist,Gurgaon/Gurugram,Pramerica Life Insurance,2-7 Yrs
3,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
4,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs
5,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies,4-8 Yrs
6,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
7,Data Scientist / Sr. Data Scientist,Gurgaon/Gurugram,Pramerica Life Insurance,2-7 Yrs
8,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
9,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [208]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [209]:
driver.get("https://www.flipkart.com/")

In [210]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [211]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [261]:
name_title=[]
product_description=[]
price_required=[]

In [239]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags:
    title=i.text
    name_title.append(title)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags:
    description=i.text
    product_description.append(description)

price_tags=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_tags:
    price=i.text
    price_required.append(price)

In [240]:
print(len(name_title),len(product_description),len(price_required))

40 40 40

In [212]:
name_title=[]
product_description=[]
price_required=[]

In [213]:
start=0
end=3
for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in title:
        name_title.append(i.text)
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)
    price=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in price:
        price_required.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [214]:
len(name_title),len(product_description),len(price_required)

(120, 119, 135)

In [192]:
import pandas as pd
df=pd.DataFrame({'Product Name':name_title,'Description':product_description,'Price':price_required})
df

,Product Name,Description,Price
0,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹129₹49974% off
1,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹129₹49974% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹745₹7996% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹539₹89940% off\nFree delivery
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149₹59975% off\nFree delivery
...,...,...,...
115,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹879₹2,50064% off\nFree delivery"
116,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (58)",₹99₹87588% off\nFree delivery
117,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹674₹99932% off\nFree delivery
118,PIRASO,UV Protection Over-sized Sunglasses (65),"₹342₹2,59986% off\nFree delivery"
119,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹979₹1,99951% off\nFree delivery"

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [268]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [269]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [287]:
ratings_rate=[]
summary_required=[]
full_review=[]

In [282]:
rate_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rate_tags:
    rate=i.text
    ratings_rate.append(rate)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags:
    summary=i.text
    summary_required.append(summary)

review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags:
    review=i.text
    full_review.append(review)

In [283]:
len(ratings_rate),len(summary_required),len(full_review)

(10, 10, 10)

In [288]:
start=0
end=10
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        ratings_rate.append(i.text)
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        summary_required.append(i.text)
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [289]:
len(ratings_rate),len(summary_required),len(full_review)

(100, 100, 100)

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

In [290]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [291]:
driver.get('https://www.flipkart.com')

In [292]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [293]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [301]:
name_title=[]
product_description=[]
price_required=[]

In [302]:
start=0
end=3
for i in range(start,end):
    title=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in title:
        name_title.append(i.text)
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)
    price=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in price:
        price_required.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [303]:
len(name_title),len(product_description),len(price_required)

(120, 111, 135)

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:

In [122]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [123]:
driver.get('https://www.amazon.in/')

In [124]:
brand=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
brand.send_keys('Laptop')

In [125]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [126]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a/div')
cpu.click()

In [127]:
name_title=[]
ratings_required=[]
price_required=[]

In [128]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    name_title.append(title)

ratings_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in ratings_tags[0:10]:
    ratings=i.text
    ratings_required.append(ratings)
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    price=i.text
    price_required.append(price)

In [129]:
len(name_title),len(ratings_required),len(price_required)

(10, 10, 10)

In [130]:
import pandas as pd 
df=pd.DataFrame({'Title':name_title,'Ratings':ratings_required,'Price':price_required})
df

                                               Title     Ratings      Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...  4.1\n(243)    ₹56,990
1  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  4.0\n(112)    ₹95,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  4.1\n(202)    ₹65,250
3  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...   3.8\n(53)    ₹89,990
4  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...   4.3\n(92)    ₹89,990
5  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...   4.1\n(86)    ₹79,990
6  (Renewed) Dell Latitude E7470 Intel Core i7 6t...   4.0\n(45)    ₹30,074
7  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...    1.0\n(1)  ₹1,14,990
8  Lenovo ThinkPad P14s Mobile Workstation 11th G...    5.0\n(1)  ₹1,03,990
9  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    3.3\n(7)    ₹89,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [77]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [78]:
driver.get('https://www.azquotes.com/')

In [79]:
quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quotes.click()

In [31]:
quote_title=[]
author_name=[]
types_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags:
    title=i.text
    quote_title.append(title)
name_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in name_tags:
    name=i.text
    author_name.append(name)
types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types_tags:
    types=i.text
    types_required.append(types)

In [33]:
len(quote_title),len(name_tags),len(types_required)

(100, 100, 100)

In [80]:
quote_title=[]
author_name=[]
types_required=[]

In [81]:
start=0
end=10
for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in title:
        quote_title.append(i.text)
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        author_name.append(i.text)
    types=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        types_required.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [82]:
len(quote_title),len(author_name),len(types_required)

(1000, 1000, 1000)

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

In [151]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [152]:
driver.get('https://www.jagranjosh.com/')

In [153]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [158]:
minister=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
minister.click()

In [159]:
name_title=[]
born_dead=[]
term_office=[]
remarks_required=[]

In [160]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in title_tags:
    title=i.text
    name_title.append(title)
born_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_tags:
    born=i.text
    born_dead.append(born)
term_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_tags:
    term=i.text
    term_office.append(term)
remarks_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks_tags:
    remarks=i.text
    remarks_required.append(remarks)

In [161]:
len(name_title),len(born_duration),len(term_duration),len(remarks_required)

(18, 0, 0, 18)

In [194]:
name_title=[]
born_dead=[]
term_office=[]
remarks_required=[]

In [195]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in title_tags:
    title=i.text
    name_title.append(title)
born_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_tags:
    born=i.text
    born_dead.append(born)
term_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_tags:
    term=i.text
    term_office.append(term)
remarks_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks_tags:
    remarks=i.text
    remarks_required.append(remarks)

In [196]:
len(title_tags),len(born_dead),len(term_office),len(remarks_required)

(18, 18, 35, 18)

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/

In [80]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [81]:
driver.get('https://www.motor1.com/')

In [83]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]')
menu.click()

In [84]:
features=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
features.click()

In [85]:
lists=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
lists.click()

In [98]:
expensive=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[4]/div/div[1]/h3/a')
expensive.click()

In [99]:
car_name=[]
price_required=[]

In [100]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags:
    name=i.text
    car_name.append(name)
price_tags=driver.find_elements(By.XPATH,'//strong')
for i in price_tags:
    price=i.text
    price_required.append(price)

In [101]:
len(car_name),len(price_required)

(51, 51)